
.list {
    width:80vw;
}

.title {
    background: grey;
    color: white;
    /*height: 35px;*/
    line-height: 35px;
    margin-top: 30px;
    padding-left: 20px;
}

.dian, .delete {
    cursor: pointer;
    background: black;
    color: white;
    width: 50px;
    text-align: center;
    user-select: none;
}

.delete {
    background: orangered;

}